/* styles.css */

/* Style the outer box */

.Signup-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border:0;
    height: 500px;
    margin-top: 10px;
    min-width: 300px !important;
    max-width: 350px !important;
    margin: 10px !important;
    background-color: #fff;
  }
  .Signup-pic{
    height:auto;
    width: -webkit-fill-available;
  }
  .Signup-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    margin-top: 10px;
    width: -webkit-fill-available;
  }
  Button{
    margin: 15px 0 !important
  }
  .Signup-heading{
  }