.Project-cards{
    height: 80px;
    width: 110px;
    /* float: left; */
    padding: 20px;
    margin: 4px;
}
.Project-cards-container{
    margin-left: 8px;
    align-self: center;
    /* border-bottom: 1px solid lightgray; */
    /* border-bottom:1px solid lightgray ; */
}
.Project-cards-color-tag{
    height:15px;
    width: 3px;
    margin-right:2px;
    border-radius: 5px;
}
.Project-cards-tag-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Project-cards-value{
    font-size: 18px;
    font-weight: bold;
}
.Project-cards-name{
    font-size: 12px;
}